attrs==17.2.0
autobahn==17.9.3
Automat==0.6.0
constantly==15.1.0
hyperlink==17.3.1
incremental==17.5.0
msgpack-python==0.4.8
Nevow==0.14.3
Pyro==3.16
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
umsgpack==0.1.0
zope.interface==4.4.3
